body{

  font-family: 'Times New Roman',
  'Georgia',
  Garamond;  
 
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.topnav {
overflow: hidden;
margin-top: -100px;

}

.topnav a {
float: left;
color:hsl(0, 1%, 16%);
text-align: left;
padding: 12px 16px;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
}

.topnav a:active {
color :#EE7E17;

}

.topnav-right {
float: right;
margin-right: 2%;
cursor: pointer;
}
.log{
margin-top: 3%;
width: 20%;
margin-left: 2%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #EE7E17;
  border-radius: 4px ;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:#EE7E17;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 20%;
}

input[type=submit]:hover {
  background-color: #f2f2f2;
}

.container {

  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 1%;
}

.col-25 {

  margin-left: 20%;
  width: 25%;
 

}

.col-75 {
 
  width: 60%;
  margin-left: 20%;
  margin-top: -1%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.div-6{
background-color: rgb(13, 13, 14);
width: 100%;
margin-top: 3%;
  
}
.item{

padding: 4%;
color:hsl(240, 75%, 98%);
text-align: center;
font-size: 24px;
margin-top: -2%;

}
.center{

justify-content: center;
align-items: center;
margin-left: 10px;
text-align: center;

}
.t{
margin-left: 10px;
}
.div-5{
  color: white;
  font-size: 12px;
  font-style: normal;
  text-align: center;
}
.div-8{
text-align: center;
}
.button {

border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
}

.button-btn {
background-color:black;
color: white;
border: 2px solid #EE7E17;
}

.div-img{
  margin-top: 4%;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height:50vh;
}
.top-left {
  position: absolute;
  top: 30%;
  color:white;
  font-size: 3.5vw;
  margin-left: 10%;
  width: 30%;
  text-align: left;
}
.div-contact{
  margin-left: 10%;
  font-weight: 700;
  
}

.checkbox1{
  visibility: hidden;
}

.btn-1{
  background-color: #EE7E17;
  margin-left: 70%;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;
  width: 10%;
  border-radius: 4px;
}


@media screen and (max-width: 375px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-left: 1%;
    
  }
  .topnav{
    visibility: hidden;
  }
  .visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }

h1 {
    text-align: center;
}

.humbagger-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.hamburger {
    margin: 0 auto;
    margin-top:-30%;
    margin-left:240px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color:black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
    
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

.log{
  margin-top: -4%;
  width: 10%;
  margin-left: -10%;
}

.div-img{  
  width: 360px;
  height:20vh;
}
.top-left {
 
  top: 30%;
  color:white;
  font-size: 40px;
  margin-left: 1%;
  width: 100%;
  text-align: center;  margin-top: -10%;
}
.div-contact{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div{  
  text-align: center;
}

.btn-1{
  justify-content: center;
  align-self: center;
  margin-left: 30%;
  background-color: #EE7E17;
  width: 45%;
  
}

.button{
  display: block;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-top: 2%;
  border-radius: 13px;


}

.item{
  font-size: 18px; 
  
  }
 .div-6{
   height: 90vh;
 }
}


